@import "tailwindcss";

:root {
  /* Custom color palette */
  --color-text: #0b1618;
  --color-background: #f3fbfc;
  --color-primary: #2ebfd6;
  --color-secondary: #82e3f2;
  --color-accent: #36defc;

  /* Font variables */
  --font-sans: 'Arial, Helvetica, sans-serif';
  --font-mono: 'Courier New, monospace';
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
